<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fhapp.setup" version="2.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>FH Burgenland App 2.0</name>
    <description>
        Die App 2.0, die Besonderes zusammen bringt. Die FH Burgenland App 2.0 unterstützt StudentInnen und LektorInnen im FH-Alltag mit vielen neuen praktischen Funktionen.
    </description>
    <content src="index.html" />
    <access origin="*" />
    <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-minSdkVersion"      value="14" />
       <platform name="android">
        <icon   src="img/drawable-ldpi-icon.png"               density="ldpi" />
        <icon   src="img/drawable-mdpi-icon.png"               density="mdpi" />
        <icon   src="img/drawable-hdpi2-icon.png"               density="hdpi" />
        <icon   src="img/drawable-xhdpi-icon.png"              density="xhdpi" />
        <icon   src="img/drawable-xxhdpi-icon.png"             density="xxhdpi" />
        <icon   src="img/drawable-xxxhdpi-icon.png"            density="xxxhdpi" />
    </platform>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.2" />
</widget>
